<h1>Raphael Gaza Shekwolo</h1>
<hr />
<p class="lead">
  I am a <%= link_to 'software developer', '#' %> and I also <%= link_to 'do some writing', essays_path %>.<br />
  I enjoy deciphering complex problems and then applying simple elegant solutions to them.<br />
  If you are interested, you can view my <%= link_to 'resume here', '#' %>.
</p>

